* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
    margin: 10px;
    background-color: white;
    padding: 10px;
    border: 2px;
    border-radius: 10px;
}

img {
    height: 100px;
    width: 100px;
    border: 2px solid;
    border-radius: 50%;
    padding: 10px;
}

@keyframes container {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes card {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.container {
    opacity: 0;
    animation: container 10s forwards;
    transform: translate3D(100%);
    animation: container 10s infinite;
}

.card {
    opacity: 2;
    animation: carc 10s backwards;
    transform: translate3D(100%);
    animation: card 10s infinite;


}
